## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.sw?
tags

.vendor
.bundler
.bundle
.vagrant
log
tmp
Gemfile.lock
spec/fixtures/modules/*
examples/client_ffdc/
client_ffdc
pkg/
Vagrantfile
